body{
    text-align: center;
}
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-container {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 4px;
    width: 30%;
    padding: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
button{
    background-color: #007BFF; /* Change to your desired color */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3; /* Change to a slightly darker shade */
}
input[type=text]{
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
}
.resultTable{
    display: inline-block;
}
